---
- name: Set fact
  ansible.builtin.set_fact:
    manage_kubemanifests_object: "{{ lookup('ansible.builtin.file', item) | from_yaml }}"

- name: "Get {{ manage_kubemanifests_object.kind | lower }}/{{ manage_kubemanifests_object.metadata.name }} -n {{ manage_kubemanifests_object.metadata.namespace }}"
  kubernetes.core.k8s_info:
    api_version: "{{ manage_kubemanifests_object.apiVersion }}"
    kind: "{{ manage_kubemanifests_object.kind }}"
    name: "{{ manage_kubemanifests_object.metadata.name }}"
    namespace: "{{ manage_kubemanifests_object.metadata.namespace }}"

- name: "Manage {{ manage_kubemanifests_object.kind | lower }}/{{ manage_kubemanifests_object.metadata.name }} -n {{ manage_kubemanifests_object.metadata.namespace }}"
  kubernetes.core.k8s:
    state: "{{ manage_kubemanifests_state }}"
    src: "{{ item }}"
    wait: true

- name: "Wait until {{ manage_kubemanifests_object.kind | lower }}/{{ manage_kubemanifests_object.metadata.name }} -n {{ manage_kubemanifests_object.metadata.namespace }} is ready"
  kubernetes.core.k8s_info:
    api_version: "{{ manage_kubemanifests_object.apiVersion }}"
    kind: "{{ manage_kubemanifests_object.kind }}"
    name: "{{ manage_kubemanifests_object.metadata.name }}"
    namespace: "{{ manage_kubemanifests_object.metadata.namespace }}"
  register: manage_kubemanifests_result
  # The first  or block captures completed conditions for ansibleautomationplatform, automationcontroller
  # The second or block captures completed conditions for automationhub
  until: >
    (
      manage_kubemanifests_result.resources.0.status is defined and
      (
        manage_kubemanifests_result.resources.0.status.conditions |
        selectattr('type', 'equalto', 'Running') |
        selectattr('status', 'equalto', 'True') |
        first
      ) is defined and
      (
        manage_kubemanifests_result.resources.0.status.conditions |
        selectattr('type', 'equalto', 'Successful') |
        selectattr('status', 'equalto', 'True') |
        first
      ) is defined
    ) or
    (
      manage_kubemanifests_result.resources.0.status is defined and
      (
        manage_kubemanifests_result.resources.0.status.conditions |
        selectattr('type', 'equalto', 'Automationhub-Operator-Finished-Execution') |
        selectattr('status', 'equalto', 'True') |
        first
      ) is defined
    )
  retries: 70
  delay: 15
  when: >
    (
      manage_kubemanifests_object.kind | lower == 'ansibleautomationplatform' or
      manage_kubemanifests_object.kind | lower == 'automationcontroller' or
      manage_kubemanifests_object.kind | lower == 'automationhub' or
      manage_kubemanifests_object.kind | lower == 'eda'
    ) and
    manage_kubemanifests_state == 'present'
