---
apiVersion: eda.ansible.com/v1alpha1
kind: EDA
metadata:
  name: {{ name_eda}}
  namespace: {{ ocp_namespace }}
spec:
  activation_worker:
    replicas: 2
  admin_user: admin
  api:
    gunicorn_workers: 2
    replicas: 1
  default_worker:
    replicas: 2
  event_stream:
    gunicorn_workers: 2
    replicas: 1
  image_pull_policy: IfNotPresent
  ingress_type: Route
  no_log: true
  redis:
    replicas: 1
  scheduler:
    replicas: 2
  ui:
    replicas: 1
  worker:
    replicas: 2
