---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ item.name }}
  namespace: {{ ocp_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClass: lvms-vg1
  volumeMode: FileSystem
  resources:
    requests:
      storage: 1Gi
