---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.metadata.name }}
  namespace: {{ ocp_namespace }}
data:
{% for k,v in item.data.items() %}
{% if generate_kubemanifest_secret_split_match in v %}
  {{ k }}: "{{ '{{' }} {{ v | split(generate_kubemanifest_secret_split_match) | last }} | b64encode {{ '}}' }}"
{% else %}
  {{ k }}: {{ v | b64encode }}
{% endif %}
{% endfor %}
type: Opaque
