---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.metadata.name }}
  namespace: {{ ocp_namespace }}
data:
{% for k,v in item.data.items() %}
  {{ k }}: {{ v | b64encode }}
{% endfor %}
type: Opaque
